html{
    height: 100%;
}
body{
    background-color: #ECB2FD;
    color: #6A0089;
    margin: 0;

}
#root{
    height: 100%;
}

/*HOME*/
#homeStyle{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    width: 250px;
    height: 100%;
}

#logo{
    height: 350px;
    padding: 30px;
}

#btnGoogle{
    background-color: #9400d3;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    border-color: #6A0089;
}

#btnGoogle:hover{
    background-color: #ffffff;
    color: #9400d3;

}

/*WALL*/

#wallStyle{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    width: 250px;
    height: 100%;
}

/*Header Wall*/

#header{
    margin: 0;
    background-color:#9400d3;    
    color: #ffffff; 
    display: flex;
}

.headerMsj{
    justify-content: baseline;
}

#btnLogOut{
    background-color: #9400d3;
    color: #ffffff;
    font-size: 15px;
    border:none;
    border-radius: 10px;
    
}

#btnLogOut:hover{
    background-color: #ffffff;
    color: #9400d3;
}



/*main Wall*/

#btnPost{
    background-color: #9400d3;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    border-color: #6A0089;
}

#btnPost:hover{
    background-color: #ffffff;
    color: #9400d3;
}

.deletePublication{
    background-color: red;
    color: #ffffff;
    font-size: 10px;
    padding: auto;
    border-radius: 5px;
    border-color: darkred;
}

.deletePublication:hover{
    background-color: darkred;
}

.likePublication{
    background-color: blueviolet;
    color: #ffffff;
    font-size: 10px;
    padding: auto;
    border-radius: 5px;
    border-color: darkblue;
}

.likePublication:hover{
    background-color: darkblue;
}

#inputNewPost{
    width: 85%;   
    height: 45px;
    border-radius: 10px;
    background-color: #e0dce2;
    border: none;
    text-align: left;
    padding-left: 20px;
    padding-right:20px ;
    white-space: wrap; 
}

#divNewPost{
    display: flex;    
    justify-content: center;
    margin-top: 20px;
    width: 100%; 
}

#footer{
    padding-top: 10px;
    font-style:oblique;
    font-size:small;
    text-align: center;
    position: absolute;
    bottom: 15px;
    justify-content: center;
}
